# Drupal with MariaDB
#
# Access via "http://localhost/"
#   (or "http://$(docker-machine ip):80" if using docker-machine)
#
# During initial Drupal setup,
# Database type: MariaDB
# Database name: ??
# Database username: root
# Database password: admin
# ADVANCED OPTIONS; Database host: localhost:3306

version: '3.1'

services:

  drupal:
#    image: drupal:8-apache
    build:
      context: ./apache
    container_name: drupal-apache
    ports:
      - 80:80
    volumes:
      - ./modules:/var/www/html/modules
      - ./profiles:/var/www/html/profiles
      - ./themes:/var/www/html/themes
      # this takes advantage of the feature in Docker that a new anonymous
      # volume (which is what we're creating here) will be initialized with the
      # existing content of the image at the same location
      - ./sites:/var/www/html/sites
    links:
      - db
#      - db:database
#    restart: always
#    command:
#      - chown -R www-data:www-data /var/www/html/sites /var/www/html/modules /var/www/html/themes /var/www/html/profiles

#  postgres:
#    image: postgres:10
#    environment:
#      POSTGRES_PASSWORD: example
#    restart: always

  db:
    image: mariadb:10.3
    container_name: drupal-mariadb
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: "admin"
    restart: always
